name: CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

  # Allows to run this workflow manually from the Actions tab.
  workflow_dispatch:

jobs:
  test_latest:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Tests (latest)
        run: docker compose run --rm v test .

  test_0_4_12:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Tests (0.4.12)
        run: docker compose run --rm v0412 test .
